@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 49 94% 63%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 2%;
    --muted: 215 20% 65%;
    --muted-foreground: 215 20% 65%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 27% 84%;
    --input: 213 27% 84%;
    --ring: 240 4.9% 83.9%;
  }

  .dark:root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 49 94% 63%;
    --primary-foreground: 0 0% 2%;
    --secondary: 0 0% 93%;
    --secondary-foreground: 0 0% 2%;
    --muted: 215 20% 65%;
    --muted-foreground: 215 20% 65%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 72% 51%;
    --destructive-foreground: 0 0% 98%;
    --border: 213 27% 84%;
    --input: 213 27% 84%;
    --ring: 240 4.9% 83.9%;
  }

  module.exports {
    theme {
      extend {
        colors {
          background: "hsl(0, 0%, 100%)";
        }
      }
    }
  }
}
